*{
								margin: 0vh;
								padding: 0vh;
				}
				#cont{
								height: 100vh;
								width: 100vw;
								display: flex;
								align-items: center;
								justify-content: center;
				}
				#cal{
								min-height: 60vh;
								min-width: 70vw;
								background-color: rosybrown;
								display: flex;
								flex-direction: column;
								align-items: center;
								justify-content: center;
				}
				#cal input{
								width: 60vw;
								height: 7vh;
								margin-bottom: 2vh;
								font-size: 4vh;
				}
.keys button {
  height : 10vh;
  width :10vh;
  margin: 1vw;
  padding: .3vh;
  border-style: none;
  border-radius: 50%;
  font-size: 3vh;
				}
#felx{
  display: flex;
}
.dis{
  display: none;
  flex-direction: ;
}
.orange{
  color: orange;
}